{% extends 'layout.jinja' %}
{% load static %}
{% block title %}{{room.name}}{% endblock %}

{% block content %}
<div class="room container">
    <div class="chat-messages">
        <div class="row">
            <div class="col-sm-8 room-messages">
                <div class="message-item">
                    <span id="username"><strong>George <span class="badge badge-secondary">BOT</span></strong></span><br>
                    <span id="message">Welcome to "{{room.name}}" room.</span><br>
                </div>
                {% for message in messages %}
                <div class="message-item">
                    <span id="username"><strong>{{message.user.username}}</strong> &nbsp; <small
                            class="text-secondary">{{message.date_added}}</small></span><br>
                    <span id="message">{{message.content|safe}}</span><br>
                </div>
                {% endfor %}
                <div id="last"></div>
            </div>
            <div class="col-sm-4 room-panel">
                <h5>Owner: <strong>{{room.owner}}</strong></h5>
                <div class="input-group mb-3">
                    <input id="copylink" type="text" class="form-control" placeholder="Share room."
                        aria-label="Share room." value="https://rettoapp.info/rooms/{{room.slug}}/"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="copybutton" class="btn btn-outline-secondary" type="button">Copy</button>
                    </div>
                </div>
                <a href="{% url 'rooms' %}">Leave Room</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 send-message-area">
                <form id="send-message-form">
                    <input id="send-message-input" class="form-control" placeholder="Send message.">
                </form>
            </div>
            <div class="col-sm-4 blank-area">
                <a class="selector" href="#last"><strong><i class="bi bi-arrow-down"></i></strong></a>
                <a class="selector" href="#emojis"><strong><i class="bi bi-emoji-smile-fill"></i></strong></a>
            </div>
        </div>
    </div>
</div><br><br>
{% endblock %}

{% block scripts %}
{{room.slug|json_script:"json-roomname"}}
{{request.user.username|json_script:"json-username"}}

<script src="{% static 'scripts/socket.js' %}"></script>
{% endblock %}