{% extends 'layout.jinja' %}
{% block title %}{{room.name}}{% endblock %}

{% block content %}<br>
<div class="room container">
    <h1 align="center">{{room.name}}</h1>

    <div class="chat-messages">
        <div class="row">
            <div class="col-sm-8 room-messages">
                <div class="message-item">
                    <span id="username"><strong>George BOT</strong></span><br>
                    <span id="message">Welcome to {{room.name}} room.</span><br>
                    <span id="sended-at" class="text-secondary"><small>14.01.2024 11:00</small></span>
                </div>
            </div>
            <div class="col-sm-4 room-panel">
                <h5>Owner: <strong>Kadir Hoca</strong></h5>
                <div class="input-group mb-3">
                    <input id="copylink" type="text" class="form-control" placeholder="Share room."
                        aria-label="Share room." value="https://rettoapp.info/rooms/{{room.slug}}/" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="copybutton" class="btn btn-outline-secondary" type="button">Copy</button>
                    </div>
                </div><br><br>
                <h5>Online Users</h5>
                <li>Ekincan</li>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 send-message-area">
                <form>
                    <input class="form-control" placeholder="Send message.">
                </form>
            </div>
            <div class="col-sm-4 blank-area">
            </div>
        </div>
    </div>
</div>
{% endblock %}