{% extends 'layout.jinja' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}
{% block content %}
<div class="container w-75" align="left">
    <h1 align="center">Edit Profile</h1>
    <form enctype="multipart/form-data"method="POST">
        {% csrf_token %}
        {{form.media}}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <h2>Select Operation</h2>
    <li><a href="{% url 'writescript' %}">Write Script</a></li>
    <br>
    <h2>Your Scripts</h2>
    {% for script in scripts %}
        <li>{{script}} &nbsp;&nbsp;<a href="{% url 'delete_script' script.id %}">Remove Script</a></li>
    {% endfor %}
</div>
<br><br>
{% endblock %}