{% extends 'layout.jinja' %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="index container">
    {% if request.user.is_authenticated %}
    user logged in
    {% else %}
    <div class="jumbotron">
        <h1 class="display-4"><strong>Fast, strong and secure<br>social platform.</strong></h1>
        <p class="lead description">
            An alternative to Teams or Discord. Retto is designed to be the place where your teammates engage. Organise discussions in channels. React with emojis. Share code snippets.
        </p>
        <hr class="my-4">
        <p class="description">
            Retto is a <strong>#freesoftware</strong> product. Free, forever.
        </p>
        <p class="lead">
            <a class="btn btn-primary" href="/signup/" role="button">Signup</a>
            <a class="btn btn-link" href="/login/" role="button">Login</a>
        </p>
    </div>
    {% endif %}
</div>

{% endblock %}