{% extends 'layout.jinja' %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="index container">
    {% if request.user.is_authenticated %}<br>
    <script>document.location.href = '/rooms/'</script>
    {% else %}
    <div class="jumbotron">
        <h1 class="display-4"><strong>Fun and freedom focused<br>social platform.</strong></h1>
        <p class="lead description">
            Retto, the ultimate social hub, invites you to break free from the ordinary and embrace a realm where fun knows no limits.
        </p>
        <hr class="my-4">
        <p class="description">
            Unleash your true self in a world of boundless entertainment and freedom.
        </p>
        <p class="lead">
            <a class="btn btn-primary" href="/signup/" role="button">Signup</a>
            <a class="btn btn-link" href="/login/" role="button">Login</a>
        </p>
    </div>
    {% endif %}
</div>

{% endblock %}