{% extends 'layout.jinja' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="container w-75" align="left">
    {% if request.user.is_authenticated %}
    <script>document.location.href = '/rooms/'</script>
    {% else %}
    <h1 align="center">Login</h1>
    <form enctype="multipart/form-data"method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {% csrf_token %}
        {{form.media}}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    {% endif %}
</div>
{% endblock %}