{% extends 'layout.jinja' %}
{% load crispy_forms_tags %}

{% block title %}{{script.name}}{% endblock %}
{% block content %}
<div class="container w-75" align="left"><br><br>
    <h1 align="center"><strong>{{script.name}}</strong></h1><hr class="w-50">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{script.media}}
        {{script.content|safe}}
    </form>
</div>
{% endblock %}