{% extends 'layout.jinja' %}
{% load crispy_forms_tags %}

{% block title %}Write Script{% endblock %}
{% block content %}
<div class="container w-75" align="left">
    <h1 align="center">Write Script</h1>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{form.media}}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}